#patienter_eleve{
    text-align: center;
    width: 70%;
    margin: auto;
}

#patienter_eleve h2{
    background-color: #f2f2f2;
    color: #404040;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#patienter_eleve img{
    margin-top: 100px;
    width: 200px;
}