<h1>Bienvenue dans votre application Question-stat!</h1>
<section id="ajoutQuestion">
    <a id="ajout_question" href="ajoutQuestion">Ajouter une question</a>
</section>

<section id="creation_salon_enseignant">
    <form>
        <fieldset>
            <legend>Choix du salon</legend>
            <label for="nom_salon">Nom du salon</label> : <input type="text" name="nom_salon" id="nom_salon" autofocus/>
        </fieldset>
        <fieldset id="listNiveaux">
            <legend>Choix du niveau</legend>
        </fieldset>
        <fieldset id="listModules">
            <legend>Choix du module</legend>
        </fieldset>
        <input id="lancement_salon" type="submit" value="Ouverture du salon"/>
    </form>
</section>