<h2 id="question_intitule"></h2>

<div>
    <div class="middle">
        <button id="reposer_question" type="button">Reposer la question</button>
    </div>
    <div class="middle">
        <button id="question_suivante" type="button">Question suivante</button>
    </div>
</div>

<div id="reponses"></div>

<div>
    <div class="middle">
        <button id="afficher_stats" type="button">Afficher les statistiques</button>
    </div>
    <div class="middle">
        <button id="masquer_stats" type="button">Masquer les statistiques</button>
    </div>
</div>
<div>
    <div class="middle">
        <button id="afficher_bonnes_reponses" type="button">Afficher les bonnes réponses</button>
    </div>
    <div class="middle">
        <button id="masquer_bonnes_reponses" type="button">Masquer les bonnes réponses</button>
    </div>
</div>