<section id="connexion_eleve">
    <form>
        <fieldset>
            <legend>Formulaire de connexion</legend>
            <div>
                <label for="pseudo">Votre pseudo</label> : <input type="text" name="pseudo" id="pseudo" autofocus/>
            </div>
            <div>
                <label for="nom_salon">Nom du salon</label> : <input type="text" name="nom_salon" id="nom_salon"/>
            </div>
            <input id="connexion" type="submit" value="Connexion"/>
        </fieldset>
    </form>
</section>