<section id="question_eleve">
    <h1>Répondez à la question</h1>

    <div>
        <h2 id="question_intitule"></h2>
        <div>
            <div class="option">
                <input type="checkbox" name="reponse_1" value="reponse_1" id="reponse_1" />
                <label for="reponse_1"></label><br />
            </div>
            <div class="option">
                <input type="checkbox" name="reponse_2" value="reponse_2" id="reponse_2" />
                <label for="reponse_2"></label><br />
            </div>
            <div class="option">
                <input type="checkbox" name="reponse_3" value="reponse_3" id="reponse_3" />
                <label for="reponse_3"></label><br />
            </div>
            <div>
                <button id="validation_question" type="button">Valider</button>
            </div>
        </div>
    </div>
</section>